@page "/login"
@layout Web.Shared.AuthLayout


<div class="min-h-screen flex items-center justify-center ">

        <div class="bg-white p-8 rounded-[32px] shadow-lg min-w-[320px] max-w-[400px] w-full  z-10">
            <h1 class="text-3xl font-bold text-[#0058BE] mb-6 text-center">Iniciar Sesión</h1>
            <WebUI.Components.LoginForm />
            <a href="/recuperar" class="block mt-4 text-indigo-600 hover:underline text-center">¿Olvidaste tu contraseña?</a>
        </div>
</div>





