@page "/welcome"
@layout Web.Shared.AuthLayout

@inject NavigationManager Navigation

<div class="min-h-screen w-full flex justify-center items-center relative">
    <div class="absolute left-1/2 top-0 transform -translate-x-1/2 h-full w-[480px] bg-black bg-opacity-40 z-0"></div>
    <div class="relative z-10 flex justify-center items-center w-full">
        <div class="bg-white p-8 rounded-[32px] shadow-lg min-w-[320px] max-w-[400px] w-full">
            <h1 class="text-3xl font-bold text-[#0058BE] text-center">Bienvenido al sistema</h1>
            <img src="assets/logo_cuadrado_sinfondo.png" alt="logo temucomercio" class="mx-auto w-48 h-48"/>
            <button @onclick="IrALogin" class="ml-9 bg-[#537CF2] w-64 py-4 rounded-[32px] shadow text-white active:opacity-80 mb-2">Iniciar Sesión</button>
        </div>
    </div>
</div>

@code {
    private void IrALogin()
    {
        Navigation.NavigateTo("/login");
    }
}
